In [1]:
import random
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('crx.data',header=None)

In [3]:
data.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

##### Create a list with variable names:

In [4]:
varnames = ['A'+str(s) for s in range(1,17)]

##### Add the variable names to the dataframe:

In [5]:
data.columns = varnames

In [6]:
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [9]:
data.sample(5)

    A1     A2     A3 A4 A5 A6  A7     A8 A9 A10  A11 A12 A13    A14   A15 A16
326  b  30.17  1.085  y  p  c   v  0.040  f   f    0   f   g  00170   179   -
204  b  36.33  2.125  y  p  w   v  0.085  t   t    1   f   g  00050  1187   +
648  b  25.58  0.335  u  g  k   h  3.500  f   f    0   t   g  00340     0   -
492  b  39.25  9.500  u  g  m   v  6.500  t   t   14   f   g  00240  4607   +
225  b  23.25  4.000  u  g  c  bb  0.250  t   f    0   t   g  00160     0   +

##### Replace the question marks (?) in the dataset with NumPy NaN values:

In [10]:
data = data.replace('?', np.nan)

##### Recast the numerical variables as float data types:

In [12]:
data['A2'] = data['A2'].astype('float')
data['A14'] = data['A14'].astype('float')

##### Recode the target variable as binary:

In [13]:
data['A16'] = data['A16'].map({'+':1, '-':0})

##### Add some missing values at random positions in four variables:

In [15]:
len(data)

690

In [14]:
random.seed(9001)
values = set([random.randint(0, len(data)) for p in range(0, 100)])
print(values)

{512, 2, 5, 523, 12, 525, 526, 528, 532, 536, 539, 27, 543, 37, 551, 552, 44, 564, 55, 60, 577, 69, 582, 583, 76, 80, 602, 607, 101, 620, 623, 113, 117, 630, 119, 127, 128, 647, 649, 650, 142, 659, 675, 676, 167, 176, 187, 196, 221, 225, 226, 228, 238, 243, 253, 256, 259, 262, 275, 284, 285, 294, 296, 298, 299, 308, 309, 312, 313, 315, 331, 357, 362, 363, 369, 377, 384, 387, 401, 405, 422, 430, 434, 436, 438, 442, 450, 454, 466, 497, 503, 507}

In [16]:
len(values)

92

In [18]:
random.seed(9001)
values = set([random.randint(0, len(data)) for p in range(0, 100)])
for var in ['A3', 'A8', 'A9', 'A10']:
    data.loc[values, var] = np.nan

C:\Users\SachinDev\AppData\Local\Temp\ipykernel_28652\2515676512.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data.loc[values, var] = np.nan
C:\Users\SachinDev\AppData\Local\Temp\ipykernel_28652\2515676512.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data.loc[values, var] = np.nan
C:\Users\SachinDev\AppData\Local\Temp\ipykernel_28652\2515676512.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data.loc[values, var] = np.nan
C:\Users\SachinDev\AppData\Local\Temp\ipykernel_28652\2515676512.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data.loc[values, var] = np.nan

##### Save your prepared data:

In [19]:
data.to_csv('creditApprovalUCI.csv', index=False)